@import url('http://fonts.cdnfonts.com/css/roboto');

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.flex {
  display: flex;
}

.btn {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 900;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
}

.btn:hover {
  cursor: pointer;
}

/* Navbar */
.navbar {
  height: 64px;
  background-color: #1f2937;
  color: #f9faf8;
}

.navbar .flex {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

.navbar li:hover {
  cursor: pointer;
}

.navbar .logo {
  font-size: 24px;
  font-weight: 900;
}

.navbar .logo:hover {
  cursor: pointer;
}

/* Showcase */
.showcase {
  height: 470px;
  background-color: #1f2937;
  color: #f9faf8;
}

.showcase .flex {
  height: 100%;
  align-items: center;
  gap: 16px;
}

.showcase img {
  background-color: #787878;
  width: 50%;
  height: 250px;
}

.showcase-text {
  flex: 1;
}

.showcase-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.showcase-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 16px;
}

/* Information */
.information {
  height: 500px;
}

.information .flex {
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.information h2 {
  font-size: 36px;
  font-weight: 900;
  margin-top: 48px;
  margin-bottom: 48px;
}

.card-container {
  width: 820px;
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 165px;
}

.card img {
  width: 100%;
  height: 165px;
  border: 4px solid #3882f6;
  border-radius: 16px;
  margin-bottom: 8px;
}

.card p {
  font-size: 17px;
  text-align: center;
}